#general-div {
  width: 1200px;
  min-height: 100vh;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(240, 241, 233, 0.4);
}

.dropdown-menu {
  height: 250px;
  overflow-y: scroll;
}